
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

#hero {
    background-image: url("../assets/Hero-bg.png");
    width: 1440px;
    height:650px;
    top: 131px;
    bottom: 4460px;
    right: 0;
    left: 0;
    
}

#hero .hero-content{
    position: absolute;
width: 998px;
height: 582px;
left: 221px;
right: 221px;
top: 157px;
bottom: 4500px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}